node_modules/
employees.db
.env

# Local Netlify folder
.netlify

# Arquivos de configuração do Square Cloud
squarecloud.app

# Arquivos temporários
*.zip

render.yaml
# Arquivos de configuração do Render